<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">商品新增</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Products</li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row" id="app">
                @*這裡開始*@
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">新增</h3>
                        </div>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="productsName" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品類別</label>
                                    <select v-model="itemName">
                                        <option value="" selected disabled>請選擇...</option>
                                        <option v-for="type in getItemName">{{type.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品價格</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="productsPrice" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品庫存</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="productsInventory" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp3" class="col-sm-2 col-form-label">圖片</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="inp3" @@change="uploadFile">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info float-right" @@click="create">新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let app = new Vue({
        el: '#app',
        data: {
            images: null,
            productsName: "",
            productsPrice: "",
            productsInventory: "",
            itemName: "",
            getItemName: []
        },
        mounted: function() {
            let self = this;
            fetch("/api/BackGetAllCategory/GetItem")
                .then(function(response) { return response.json() })
                .then(function(result) {
                    self.getItemName = result
                })
        },
        methods: {
            uploadFile(e) {
                this.images = e.target.files[0]
            },
            create: function() {
                let self = this;
                const formData = new FormData();
                formData.append('image', self.images);
                formData.append('itemName', self.itemName);
                formData.append('productsName', self.productsName);
                formData.append('productsPrice', self.productsPrice);
                formData.append('productsInventory', self.productsInventory);
                fetch('/api/BackProduct/Create', {
                    body: formData,
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result) {
                            Swal.fire({ icon: 'success', title: '成功', text: '新增成功!' })
                                .then(function () { window.location.href = '/admin/Products/index' });
                        } else {
                            Swal.fire({ icon: 'error', title: '錯誤', text: '新增失敗!' });
                        }
                        self.name = "",
                            self.isActive = false
                    });
            }
        },
    });
</script>