<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">商品修改</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Products</li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row" id="app">
                @*這裡開始*@
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">修改</h3>
                        </div>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="productsName" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品類別</label>
                                    <select v-model="type">
                                        <option value="" selected disabled>{{type}}</option>
                                        <option v-for="type in getItemName">{{type.name}}</option>
                                    </select>
                                </div>


                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品價格</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="productsPrice" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">商品庫存</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="productsInventory" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp3" class="col-sm-2 col-form-label">圖片</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="inp3" @@change="uploadFile">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info float-right" @@click="update">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            productsId: "",
            type:"",
            productsName: "",
            productsPrice: "",
            productsInventory: "",
            getItemName: []
        },
        mounted: function() {
            let self = this;
            self.fetchData();
            self.getType();
        },
        methods: {
            uploadFile(e) {
                this.images = e.target.files[0]
            },
            fetchData: function() {
                let self = this;
                axios.get('/api/BackProduct/GetData/@ViewBag.ProductsId').then(result => {
                    self.productsId = result.data.productsId;
                    self.productsName = result.data.productsName;
                    self.productsPrice = result.data.productsPrice;
                    self.productsInventory = result.data.productsInventory;
                    self.type = result.data.type;
                });
            },
            getType: function() {
                let self = this;
                fetch("/api/BackGetAllCategory/GetItem")
                    .then(function(response) { return response.json() })
                    .then(function(result) {
                        self.getItemName = result
                    })
            },
            update: function() {
                let self = this;
                const formData = new FormData();
                formData.append('productsId', self.productsId);
                formData.append('image', self.images);
                formData.append('itemName', self.type);
                formData.append('productsName', self.productsName);
                formData.append('productsPrice', self.productsPrice);
                formData.append('productsInventory', self.productsInventory);
                fetch('/api/BackProduct/Update', {
                    body: formData,
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result) {
                            Swal.fire({ icon: 'success', title: '成功', text: '修改成功!' })
                                .then(function () { window.location.href = '/admin/Products/index' });
                        } else {
                            Swal.fire({ icon: 'error', title: '錯誤', text: '修改失敗!' });
                        }
                        self.name = "",
                            self.isActive = false
                    });
            }
        }
    });
</script>
