 <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<style>
    .user {
        /*display: flex;*/
        margin-top: auto;
    }

        .user img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }

    .users {
        /*display: flex;*/
        margin-top: auto;
    }

        .users img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

    .user-info h5 {
        margin: 0;
    }
    .UserNameS{
        color:palevioletred;
    }
    .UserTextS{
        color:grey;
    }

    .tag {
        background: #cccccc;
        border-radius: 50px;
        font-size: 12px;
        margin: 0;
        color: #fff;
        padding: 2px 10px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .tag-teal {
        background-color: #47bcd4;
    }
    .Hidden{
        border:0px;
    }

    .Dashed{
        border: 1px dashed;
    }
</style>
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>揪團去</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
   <div class="row text-center">
        <div class="col-3">
            
        </div>
     <div class="col-3">
            <h2><strong>新手上路有人要不要一起打?</strong></h2>
            <label class="tag tag-teal">羽球</label>

            <hr class="Hidden" />
            <img src="https://d3nb97lilvchvx.cloudfront.net/category_page/badminton.jpg" />
     </div>
     <div class="col-3">

            <div class="user">
                <img src="https://file.qqtouxiang.com/dongwu/2020-04-10/11395a5d68df9aeaa37267012c8a2c34.jpeg" alt="user"  />
                <div class="user-info">
                    <h5 style="margin-top:0.5rem;"><strong>無雙</strong></h5>
                    <small>有點小心情</small>
                </div>
            </div>
            </br>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg>
            <label>建立日期：2022/10/10</label>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <label>地點：新北市土城區</label>
        </div>
     </div>
        <div class="col-3">
           
        </div>
   </div>
   <br />
 <div class="row">
   <div class="col-3">
           
   </div>
        <div class="col-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="35" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                
            </svg>
            <label><h3 style="bottom:-0.5rem;"><strong>簡介</strong></h3></label>
            <h5>新北有一家新開的感覺很不錯</h5>
        </div>
  </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5"><hr class="Dashed" /></div>
        <div class="col-4"></div>
    </div>

  
    <div class="row">
        <div class="col-3">
           
        </div>
        <div class="col-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="35" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            </svg>
            <label><h3 style="bottom:-0.5rem;"><strong>留言</strong></h3></label>
        </div>
    </div>
    <div class="row ">
        <div class="col-3 text-right">
            <div class="users">
                <img src="https://pic.616pic.com/ys_bnew_img/00/05/03/YaUw4pttby.jpg" alt="user" />
            </div>
        </div>
        <div class="col-5">
            <textarea class="form-control " style="height:150px;"></textarea>
        </div>
        <div class="col-4">
            <button class="btn btn-success">留言</button>
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="col-3 text-right">
            <div class="users">
                <img src="http://i1.wp.com/inews.gtimg.com/newsapp_bt/0/1775329636/641" alt="user" />
            </div>
        </div>
        <div class="col-5">
            <p class="UserNameS"><strong>伊凡</strong></p>
            <p class="">請問具體有什麼要求嗎？</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
            </svg>
            <label><small class="UserTextS">留言日期：2022/10/10</small></label>
            <label><button class="btn btn-outline-info btn-sm">回覆</button></label>
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="col-3 text-right">
            <div class="users">
                <img src="https://img.99tu.com:9988/uploads/allimg/c200919/1600461L13G20-52O8.jpg" alt="user" />
            </div>
        </div>
        <div class="col-5">
            <p class="UserNameS"><strong>克麗絲</strong></p>
            <p class="">想參加！~</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
            </svg>
            <label><small class="UserTextS">留言日期：2022/10/11</small></label>
            <label><button class="btn btn-outline-info btn-sm">回覆</button></label>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

