<div class="container">
    <div class="row">
        <div class="col-md-12 center">
            <h3>聯絡資訊</h3>
            <ul class="conta">
                <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#">sportscenter20221111@gmail.com</a></li>
                <li> <i class="fa fa-mobile" aria-hidden="true"></i><a href="#">Call : +886 900-000-000</a></li>
            </ul>
        </div>
    </div>
</div>
@await Html.PartialAsync("_footerSimple.cshtml")