
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<style>
    body {
        background-color: rgb(83, 82, 82);
        /* background-color: rgb(97, 96, 96); */
        /* background-color: rgb(49, 107, 128); */
        /* background-color: #fff6e4; */
        /* background-color: #96989e; */
        /* background-color: hwb(190 18% 44%); */
        color: white;
    }

    .ordertitle {
        color: aliceblue;
    }

    body td {
        color: coral;
    }

    .table {
        border: 3px solid;
        border-color: rgb(75, 53, 53);
    }

    .ordertitle {
        text-align: center;
    }

    tr td {
        text-align: center;
    }

    .delbtn {
        color: red;
    }

    .movebtn {
        background-color: rgb(214, 18, 126);
        color: rgba(240, 248, 255, 0.72);
    }

    .form {
        padding-left: 50px;
    }

    .finish {
        float: right;
        padding-right: 180px;
    }
</style>



<div>
    <!-- 訂單資料表 -->
    <div class="container-fluid" id="app">
        <form action="">
            <div class="row">
                <div class="col-12 p-5">
                    <table class="table">
                        <thead>
                            <tr class="ordertitle">
                                <th>編號</th>
                                <th>產品名稱</th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>細項總額</th>
                                <th></th>
                            </tr>
                        </thead>
                        <div>
                        <tr v-for="(order,index) in product" :key="order.Id">
                            <td scope="row">{{order.Id}}</td>
                            <td class="product_name">{{order.name}}</td>
                            <td class="product_price">${{order.price}}</td>
                            <td class="product_count">
                                <input type="button" value="-" v-on:click="decrease(order)" class="decreasebtn">
                                <span>{{order.count}}</span>
                                <input type="button" value="+" v-on:click="increase(order)" class="increasebtn">
                            </td>
                            <td class="product_total">${{order.price*order.count}}</td>
                            <td class="move">
                                <button v-on:click="move(index)" class="movebtn">刪除</button>
                            </td>
                        </tr>
                </div>
                </table>
                <div class="row finish">
                    <div class="col-12">
                        <span style="font-size:x-large">總金額 :{{totalPrice}}</span>
                        <button style="font-size:x-large; background-color: cadetblue;">結帳</button>
                    </div>

                </div>
                <!-- 總價格：{{totalPrice | showPrice}} -->
            </div>
    </div>
    </form>
</div>

<div>
    <form class="form">
        <div>
            <label style="font-size:x-large;">收件人名稱 :</label>
            <input type="text" style="width:400px">
        </div>
        <div class="mt-3">
            <label style="font-size:x-large;">收件人地址 :</label>
            <input type="text" style="width:400px">
        </div>
        <div class="mt-3">
            <label style="font-size:x-large;">收件人電話 :</label>
            <input type="text" style="width:400px">
        </div>
        <div class="mt-3">
            <label style="font-size:x-large;">收件人信箱 :</label>
            <input type="text" style="width:400px">
        </div>
    </form>
</div>


<!-- //////////////////////// -->
<!-- <div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                        <td class="product_thumb"><a href="#"><img
                                                    src="assets/img/s-product/product.jpg" alt=""></a></td>
                                        <td class="product_name"><a href="#">Handbag fringilla</a></td>
                                        <td class="product-price">£65.00</td>
                                        <td class="product_quantity"><label>Quantity</label><input min="1" max="100"
                                                value="1" type="number"></td>
                                        <td class="product_total">£130.00</td>
                                    </tr>
                                    <tr>
                                        <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                        <td class="product_thumb"><a href="#"><img
                                                    src="assets/img/s-product/product2.jpg" alt=""></a></td>
                                        <td class="product_name"><a href="#">Handbags justo</a></td>
                                        <td class="product-price">£90.00</td>
                                        <td class="product_quantity"><label>Quantity</label><input min="1" max="100"
                                                value="1" type="number"></td>
                                        <td class="product_total">£180.00</td>
                                    </tr>
                                    <tr>
                                        <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                        <td class="product_thumb"><a href="#"><img
                                                    src="assets/img/s-product/product3.jpg" alt=""></a></td>
                                        <td class="product_name"><a href="#">Handbag elit</a></td>
                                        <td class="product-price">£80.00</td>
                                        <td class="product_quantity"><label>Quantity</label><input min="1" max="100"
                                                value="1" type="number"></td>
                                        <td class="product_total">£160.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit"><button type="submit">update cart</button></div>
                    </div>
                </div>
            </div> -->
<!--coupon code area start-->
<!-- <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p><input placeholder="Coupon code"
                                    type="text"><button type="submit">Apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">£215.00</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount"><span>Flat Rate:</span>£255.00</p>
                                </div><a href="#">Calculate shipping</a>
                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">£215.00</p>
                                </div>
                                <div class="checkout_btn"><a href="#">Proceed to Checkout</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
<!--coupon code area end-->
<!-- </form>
    </div>
</div>
 -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>

<script>
    var cart = new Vue({
        el: '#cart',
        data: {
            product: [
                {
                    Id: '1',
                    name: 'Irving球衣',
                    img: "/image/籃球/Kyrie Irving球衣.webp",
                    price: '500',
                    count: '2'
                },
                {
                    Id: '2',
                    name: 'LeBron James 球衣',
                    img: "/image/籃球/Lebron James球衣.webp",
                    price: '790',
                    count: '3'
                },
                {
                    Id: '3',
                    name: 'asics 羽球鞋',
                    img: "/image/羽球/asics 羽球鞋.webp",
                    price: '1200',
                    count: '1'
                },
                {
                    Id: '4',
                    name: 'BUTTERFLY FZD 樊振東',
                    img: "/image/桌球/BUTTERFLY FZD 樊振東.jpg",
                    price: '9200',
                    count: '1'
                },
                {
                    Id: '5',
                    name: 'Cuetec美國進口撞球桿',
                    img: "/image/撞球/Cuetec美國進口撞球桿.png",
                    price: '23000',
                    count: '1'
                },
                {
                    Id: '6',
                    name: 'ARTENGO護腕',
                    img: "/image/壁球/ARTENGO護腕.jpg",
                    price: '130',
                    count: '1'
                },
            ],

        },
        methods: {
            decrease: function (order) {
                if (order.count > 0) {
                    order.count--;
                } else {
                    order.count = 0;
                }
            },
            increase: function (order) {
                if (order.count >= 0) {
                    order.count++;
                }
            },
            move: function (index) {
                console.log(this);
                this.product.splice(index, 1);
            },
        },
        computed: {
            totalPrice: function () {
                var totalPrice = 0
                for (let i = 0; i < this.product.length; i++) {
                    totalPrice += this.product[i].count * this.product[i].price;
                }
                return totalPrice;
            },
            mounted: function () {
                let self = this;
                fetch("/api/Cart")
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        self.product = result
                    })


            }
        })
</script>

