<link href="~/david/css/signin.css" rel="stylesheet" />
<link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">



<div class="wrapper" id="app">
    <div class="tab-content">
        <div id="Login" class="container tab-pane active">
            <br>
            <form action="#">
                <h1 style="color:aliceblue">請輸入註冊信箱</h1>
                <div id="LoginAccount" class="form-group d-flex align-items-center">
                    <div id="Loginicon" class="icon"><span class="far fa-envelope"></span></div>
                    <input autocomplete="off" type="text" class="form-control" placeholder="E-nail">
                </div>
                <button id="LoginBtn" class="btn btn-primary mb-3">確認</button>
            </form>
        </div>
    </div>
</div>
