@{
    Layout = null;
}

<div class="Invite">
    <img src="等照片" alt="">

    <div class="text">
        <h3>點擊以連結完成驗證</h3>
    </div>
    <div class="btn">
        <a href="https://localhost:7187/Account/Authorize">完成驗證</a>
    </div>
</div>