<style>


    .signup_v4 .social-area {
        text-align: center;
        padding-top: 14px;
    }

        .signup_v4 .social-area .title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            display: inline-block;
            color: #007bff;
            position: relative;
        }

        .signup_v4 .social-area .text {
            font-size: 17px;
            font-weight: 400;
            color: #143250;
        }

        .signup_v4 .social-area .title::before {
            position: absolute;
            content: '';
            width: 40px;
            height: 1px;
            background: rgba(0, 0, 0, .2);
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 100%;
            margin-left: 7px;
        }

        .signup_v4 .social-area .title::after {
            position: absolute;
            content: '';
            width: 40px;
            height: 1px;
            background: rgba(0, 0, 0, .2);
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 100%;
            margin-right: 7px;
        }

    .signup_v4 ul.social-links {
        padding: 0;
        margin: 0;
    }

    .signup_v4 .social-area .social-links li {
        display: inline-block;
    }

        .signup_v4 .social-area .social-links li a i {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 50px;
            display: inline-block;
            color: #fff;
            margin: 0 5px;
            -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
            box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
        }

            .signup_v4 .social-area .social-links li a i.fa-facebook-f {
                background: #0069f7;
            }

            .signup_v4 .social-area .social-links li a i.fa-google-plus-g {
                background: #d1062c;
            }

    .signup_v4 .nav-tabs .nav-link.active {
        background: #001935;
    }

    .signup_v4 .nav-tabs .nav-link {
        background: #6f6174;
    }

    .signup_v4 .nav-tabs .nav-link {
        border: 0;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        border-radius: 0;
        color: #fff;
    }

    .signup_v4 .nav-tabs li.nav-item {
        width: 50%;
    }

    .signup_v4 .card-body {
        padding: 0px;
        width: 50%;
        margin: auto;
        border-style: solid;
        border-radius: 5px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

        .signup_v4 .card-body .tab-content {
            padding: 0 1.25rem 1.75em;
        }

    label {
        font-size: 30px
    }

    button {
        width: 100px;
        height: 50px;
        font-size: 40px
    }
</style>





<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>重設密碼</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper" id="app">
    <div class="tab-content">
        <div id="Login" class="container tab-pane active">
            <br>
            <form action="#">
                <h1 style="color:black">請輸入新密碼</h1>
                <div id="LoginAccount" class="form-group d-flex align-items-center">
                    <div id="Loginicon" class="icon"><span class="fas fa-key"></span></div>
                    <input v-model="Password.Member_Password" autocomplete="off" type="text" class="form-control" placeholder="Password">
                </div>
                <button type="button" @@click="SendPassword(Password)" id="LoginBtn" class="btn btn-primary mb-3">確認</button>
            </form>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            Password: { Member_Password: "" }
        },
        methods: {
            SendPassword: function (Password) {
                console.log(Password);
                let data = {
                    Member_Password: Password.Member_Password,
                }

                fetch("/account/ApiResetPassword", {

                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(data),
                    method: 'POST'
                })
                    .then(function (response) { return response.text() })
                    .then(function (result) {
                        console.log("rsl:" + result)
                        if (result == "true") {
                            Swal.fire({
                                icon: 'success',
                                title: '註冊成功!',
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: '註冊失敗!',
                            })
                        }
                    })
            }
        }
    })

</script>
