@model SportsCenter.Models.JenaModel.LocationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>新增場館資訊</h1>

<h4></h4>
<hr />

<form asp-action="">

</form>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                    場館名稱
                <input asp-for="Location.Name" class="form-control" />
                <span asp-validation-for="Location.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                    場館英文名稱
                <input asp-for="Location.EnglishName" class="form-control" />
                <span asp-validation-for="Location.EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    場館縣市
                <input asp-for="Location.Area" class="form-control" />
                <span asp-validation-for="Location.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                    場館地址
                <input asp-for="Location.Address" class="form-control" />
                <span asp-validation-for="Location.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                    場館電話
                <input asp-for="Location.ContactPhone" class="form-control" />
                <span asp-validation-for="Location.ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                    場館Website
                <input asp-for="Location.Website" class="form-control" />
                <span asp-validation-for="Location.Website" class="text-danger"></span>
            </div>


              <div class="form-group">
                    上傳照片
@*                <input asp-for="Location.Location_Email" class="form-control" />
                <span asp-validation-for="Location.Location_Email" class="text-danger"></span>*@
                 <input type="file" name="files" id="files" accept="picture/*" /> (可接受.jpg.jpeg,png)
            </div>
@*           <div class="form-group">
                <label asp-for="Location.Location_ValidFlag" class="control-label"></label>
                <input asp-for="Location.Location_ValidFlag" class="form-control" />
                <span asp-validation-for="Location.Location_ValidFlag" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回場館介紹</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
