@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js'
        integrity='sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ=='
        crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css'
        integrity='sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g=='
        crossorigin='anonymous' />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>




    <style>
        button :active {
            color: red;
        }

        .py-5 {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important
        }

        .mb-5 {
            margin-bottom: 3rem !important
        }

        .display-3 {
            font-size: calc(1.525rem + 3.3vw);
            font-weight: 900;
            line-height: 1.2
        }

        .mb-3 {
            margin-bottom: 1rem !important
        }

        .page-header {
            background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(/wwwroot/assets/img/sports.jpg) center center no-repeat;
            background-size: cover;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>

<body>
     <div class="container-fluid page-header py-5 mb-5" id="black">
        <div class="container py-5">
<<<<<<< HEAD
            <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
=======
            <h1 class="display-3 text-white mb-3 animated slideInDown">TableTennis</h1>
>>>>>>> 1deae47138855ff401fcd0915280cbaefdece186
            <!-- <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                </ol>
            </nav> -->
        </div>
    </div>


    <!--  Datepicker -->
    <div id="app">
        <div class="row py-3">
            <div class="col-md-6 mx-auto">
                <div class="alert alert-success" role="alert">
                    <div class="row">
                        <h2>請選擇欲承租日期:{{date}}</h2><h6>租借期間為七天內</h6>
                        <div class="col-lg-10 mx-auto col-md-8 col-sm-5">
                            <div class="input-group input-group-static">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                <input type="date" class="form-control" id="bookdate" v-model="date" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div style="padding:30px 300px 30px 300px;" id="app2">
        <div class="col-xl-12 col-md-10 ">
            <div class="card table-card">
                <div class="card-header">
                    <h5 class="center" style="text-align:center" , size="80px">請先選擇欲租借之場館再選時間</h5>
                    
                    <div class="card-header-right">
                        <div class="btn-group card-option">
                            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item full-card"><a href="#!"><span><i
                                                class="feather icon-maximize"></i>
                                            maximize</span><span style="display:none"><i
                                                class="feather icon-minimize"></i>
                                            Restore</span></a></li>
                                <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                class="feather icon-minus"></i> collapse</span><span
                                            style="display:none"><i class="feather icon-plus"></i> expand</span></a>
                                </li>
                                <li class="dropdown-item reload-card"><a href="#!"><i
                                            class="feather icon-refresh-cw"></i>
                                        reload</a></li>
                                <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i>
                                        remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <!-- Topbar -->
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="chk-option">
                                            <label
                                                class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                <span class="custom-control-label">場館名稱</span>
                                            </label>
                                        </div>

                                    </th>

                                </tr>
                            </thead>
                            <!-- Topbar -->
                            <tbody id="app1">
                                <tr>
                                    <td>
                                        <div class="chk-option">
                                            <label
                                                class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                <span class="custom-control-label"></span>
                                            </label>
                                            <!-- <img src="" alt="user image"
                                            class="img-radius wid-40 align-top m-r-15"> -->
                                            <div v-for="info in sportCenterInfo">
                                                <h3> {{info.centerName}}</h3>
                                                <div class="col-xl-12">
                                                    <button id="branch" type="button" @@click="changeBranchA(info)" 
                                                        class="btn btn-primary">場地A</button>
                                                    <button id="branch" type="button" @@click="changeBranchB(info)"
                                                        class="btn btn-primary">場地B</button>
                                                </div>
                                                <hr>
                                                <template v-if="sportCentercapacity()">
                                                    <template v-for="time in sportCenterTime">
                                                        <button type="button" @@click="addToCart(time.timeHour)"
                                                            class="btn btn-warning">{{time.timeHour}}</button>
                                                    </template>
                                                </template>
                                                <template v-else>
                                                    <template v-for="time in sportCenterTime" >
                                                        <button name="checkBooking" type="button" @@click="addToCart(time.timeHour)" 
                                                            class="btn btn-danger" >{{time.timeHour}}</button>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-4">
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body" id="bookInfoCheck">
                        <template v-for="info in bookingInfo">
                        <p>請確認時間與場館</p>
<<<<<<< HEAD
                        <p class="text-secondary"><small>{{info.LocationId}}</small></p>
                        <p class="text-secondary"><small>{{info.OrderDate}}</small></p>
                        <p class="text-secondary"><small>{{info.OrderTime}}</small></p>
=======
                        <p class="text-secondary"><small>場館名稱:{{info.LocationName}}</small></p>
                        <p class="text-secondary"><small>場地為:{{info.OrderBranch}}</small></p>
                        <p class="text-secondary"><small>預約日期:{{info.OrderDate}}</small></p>
                        <p class="text-secondary"><small>預約時間:{{info.OrderTime}}</small></p>
                        <p class="text-secondary"><small>預約時間:{{info.OrderPrice}}</small></p>
>>>>>>> 1deae47138855ff401fcd0915280cbaefdece186
                    </template>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">確認租借</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            date: "",
        }
    });
    var app1 = new Vue({
        el: "#app1",
        methods: {
            timeHour() {
                for (let index = 8; index < 20; index++) {
                    console.log(index + ':00~' + (index + 1) + ':00')
                }
            },
            //若資料重複回傳
            sportCentercapacity() {
                // if(centerBranch.Branch=="場館A")return true
                // else 
                return this.centerBranch
            },
            changeBranchA(info) {
                this.centerBranch = true;
                console.log('ID:'+info.id+','+info.centerName+",場館A");

                let data ={
                    Location_Id:info.id,
                    Location_Branch:"場館A",
                }
                 fetch("/api/Booking/", {
                     body: JSON.stringify(data), // must match 'Content-Type' header
                     headers: {
                         'content-type': 'application/json'
                     },
                     method: 'POST', // *GET, POST, PUT, DELETE, etc.
                 })
            },
            changeBranchB(info) {
                this.centerBranch = false;
                console.log('ID:'+info.id+','+info.centerName+",場館B");

                let data ={
                    Location_Id:info.id,
                    Location_Branch:"場館B",
                }
                 fetch("/api/Booking/", {
                     body: JSON.stringify(data), // must match 'Content-Type' header
                     headers: {
                         'content-type': 'application/json'
                     },
                     method: 'POST', // *GET, POST, PUT, DELETE, etc.
                 })
            },
                        
            addToCart: function (hour) {
                var myModal = new bootstrap.Modal(document.getElementById('myModal'))
                myModal.show();

                console.log(app.date);//日期
                console.log(hour);//時間
 
                let data ={
                    Order_Date:app.date,
                    Order_Duration:hour,
                }
                 fetch("/api/Booking/", {
                     body: JSON.stringify(data), // must match 'Content-Type' header
                     headers: {
                         'content-type': 'application/json'
                     },
                     method: 'POST', // *GET, POST, PUT, DELETE, etc.
                 })
                
                 //if (this.centerBranch) {
                 //    console.log("場館A");
                 //} else
                 //    console.log("場館B");//場地
          
            }
        },
        data: {
            centerBranch: true,
            sportCenterInfo: [
                { id: 1, centerName: '南港運動中心' },
                { id: 2, centerName: '中正運動中心' },
                { id: 3, centerName: "大同運動中心" },
                { id: 4, centerName: "中山運動中心" },
                { id: 5, centerName: "北投運動中心" },
                { id: 6, centerName: "文山運動中心" },
                { id: 7, centerName: "信義運動中心" },
                { id: 8, centerName: "士林運動中心" },
                { id: 9, centerName: "萬華運動中心" },
                { id: 10, centerName: "松山運動中心" },
                { id: 11, centerName: "大安運動中心" },
                { id: 12, centerName: "內湖運動中心" },
            ],
            sportCenterTime: [
                { timeHour: '8:00~10:00' },
                { timeHour: '10:00~12:00' },
                { timeHour: '12:00~14:00' },
                { timeHour: '14:00~16:00' },
                { timeHour: '16:00~18:00' },
                { timeHour: '18:00~20:00' },
                { timeHour: '20:00~22:00' },
            ],

        },
    });
    



    
    
    // 限制日期
    function convertToISO(timebit) {
        // remove GMT offset
        timebit.setHours(0, -timebit.getTimezoneOffset(), 0, 0);
        // format convert and take first 10 characters of result
        var isodate = timebit.toISOString().slice(0, 10);
        return isodate;
    }
    var bookdate = document.getElementById('bookdate');

    var currentdate = new Date();
    currentdate.setDate(currentdate.getDate() + 1);
    bookdate.min = convertToISO(currentdate);
    bookdate.placeholder = bookdate.min;

    var futuredate = new Date();
    // go forward 7 days into the future
    futuredate.setDate(futuredate.getDate() + 7);
    bookdate.max = convertToISO(futuredate);


</script>

<script>
    let master = new Vue({
        el: "#bookInfoCheck",
        data: {
            bookingInfo: []
        },
        methods: {
            getData:function(){
                let self = this;
                fetch("/api/booking/")
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        //result.status
                        self.products = result.data
                    })
            }
        },
        mounted: function () {
            this.getData();
        }
    })
</script>

</html>