<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">場地修改</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">LocationBrunch</li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row" id="app">
                @*這裡開始*@
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">修改</h3>
                        </div>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">場館名稱</label>
                                    <select v-model="locationName">
                                        <option selected disabled>{{locationName}}</option>
                                        <option v-for="item in getName">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">場地名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">場地類型</label>
                                    <select v-model="type">
                                        <option value="" selected disabled>{{type}}</option>
                                        <option v-for="type in getTypes">{{type.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">價格</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="price" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">簡介</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="memo" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp3" class="col-sm-2 col-form-label">圖片</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="inp3" @@change="uploadFile">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info float-right" @@click="update">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            id: "",
            images: null,
            locationName: "",
            name: "",
            price: "",
            memo: "",
            type: "",
            getTypes: [],
            getName:[]
        },
        mounted: function() {
            let self = this;
            self.fetchData();
            self.getType();
            getLocation();
        },
        methods: {
            uploadFile(e) {
                this.images = e.target.files[0]
            },
            fetchData: function() {
                let self = this;
                axios.get('/api/LocationsBrunch/getData/@ViewBag.LocationsBranchId').then(result => {
                    self.locationName = result.data.locationName;
                    self.type = result.data.type;
                    self.name = result.data.name;
                    self.price = result.data.price;
                    self.memo = result.data.memo;
                    self.Image = result.data.Images;
                    self.id = result.data.id;
                });
            },
            getType: function() {
                let self = this;
                fetch("/api/BackGetAllCategory/GetCategory")
                    .then(function(response) { return response.json() })
                    .then(function(result) {
                        self.getTypes = result
                    })
            },
            getLocation: function() {
                let self = this;
                fetch("/api/BackGetAllCategory/GetLocation")
                    .then(function(response) { return response.json() })
                    .then(function(result) {
                        self.getName = result
                    })
            },
            update: function() {
                let self = this;
                const formData = new FormData();
                formData.append('id', self.id);
                formData.append('locationName', self.locationName);
                formData.append('type', self.type);
                formData.append('name', self.name);
                formData.append('price', self.price);
                formData.append('memo', self.memo);
                formData.append('image', self.images);
                fetch('/api/LocationsBrunch/Update', {
                    body: formData,
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result) {
                            Swal.fire({ icon: 'success', title: '成功', text: '修改成功!' });
                        } else {
                            Swal.fire({ icon: 'error', title: '錯誤', text: '修改失敗!' });
                        }
                    });
            }
        }
    });
</script>
