    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/david/css/signin.css" rel="stylesheet" />



<div class="wrapper" id="app">
    <div class="tab-content">
        <div id="Login" class="container tab-pane active">
            <br>
            <form action="#">
                <h1 style="color:aliceblue">請輸入註冊信箱</h1>
                <div id="LoginAccount" class="form-group d-flex align-items-center">
                    <div id="Loginicon" class="icon"><span class="far fa-envelope"></span></div>
                    <input v-model="Email.Member_Email" autocomplete="off" type="text" class="form-control" placeholder="E-nmail">
                </div>
                <button type="button" @@click="SendMail(Email)" id="LoginBtn" class="btn btn-primary mb-3">確認</button>
            </form>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            Email:{Member_Email:""}
        },
        methods: {
            //註冊
            SendMail: function (Email) {
                let data = {
                    Member_Email: Email.Member_Email,
                }

                fetch("/Register/Reset", {

                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(data),
                    method: 'POST'
                })
                    .then(function (response) { return response.text() })
                    .then(function (result) {
                        console.log("rsl:" + result)
                        if (result == "true") {
                            Swal.fire({
                                icon: 'success',
                                title: '水拉',
                                text: '驗證信已送出!',
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: '挖靠',
                                text: '註冊失敗!',
                                //footer: '<a href="">Why do I have this issue?</a>'
                            })
                        }
                    })
            }
        }
    })

</script>
