@{
    Layout = null;
}

<body>
    <div class="Invite">
        <div class="text">
            <h3>安安 點擊連結完成驗證</h3>
        </div>
        <div class="btn">
            <a href="https://localhost:7187/Register/resetPassword">完成驗證</a>
        </div>
    </div>
</body>
</html>