    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/david/css/signin.css" rel="stylesheet" />



<div class="wrapper" id="app">
    <div class="tab-content">
        <div id="Login" class="container tab-pane active">
            <br>
            <form action="#">
                <h1 style="color:aliceblue">請輸入新密碼</h1>
                <div id="LoginAccount" class="form-group d-flex align-items-center">
                    <div id="Loginicon" class="icon"><span class="fas fa-key"></span></div>
                    <input v-model="Password.Member_Password" autocomplete="off" type="text" class="form-control" placeholder="Password">
                </div>
                <button type="button" @@click="SendPassword(Password)" id="LoginBtn" class="btn btn-primary mb-3">確認</button>
            </form>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            Password: { Member_Password: "" }
        },
        methods: {
            SendPassword: function (Password) {
                let data = {
                    Member_Password: Password.Member_Password,
                }

                fetch("/Register/ApiResetPassword", {

                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(data),
                    method: 'POST'
                })
                    .then(function (response) { return response.text() })
                    .then(function (result) {
                        console.log("rsl:" + result)
                        if (result == "true") {
                            Swal.fire({
                                icon: 'success',
                                title: '水拉',
                                text: '註冊成功!',
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: '挖靠',
                                text: '註冊失敗!',
                                //footer: '<a href="">Why do I have this issue?</a>'
                            })
                        }
                    })
            }
        }
    })

</script>
