<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">類別修改</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Item</li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row" id="app">
                @*這裡開始*@
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">修改</h3>
                        </div>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">類別名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp2" class="col-sm-2 col-form-label">是否啟用</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="form-control" id="inp2" v-model="isActive">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info float-right" @@click="update">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            id: "",
            name: "",
            isActive: false,
        },
        mounted: function() {
            let self = this;
            axios.get('/api/Item/getData/').then(result => { //todo 這裡是寫死?
                self.name = result.data.name;
                self.isActive = result.data.isActive;
                self.id = result.data.id;
            });
        },
        methods: {
            update: function() {
                let self = this;
                const formData = new FormData();
                formData.append('id', self.id);
                formData.append('isActive', self.isActive);
                formData.append('name', self.name);
                fetch('/api/Item/Update', {
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(formData), method: 'POST'
                })
                    .then(response => response.json()).then(result => {
                        if (result) {
                            Swal.fire({ icon: 'success', title: '成功', text: '修改成功!' });
                        } else {
                            Swal.fire({ icon: 'error', title: '錯誤', text: '修改失敗!' });
                        }
                        self.name = "";
                        self.isActive = false;
                    });
            }
        }
    });
</script>

