<div class="back_re">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h2>場館介紹</h2>
            </div>
        </div>
    </div>
</div>


<div class="container" id="location">
  <div class="row">
	        	<div class="col-md-6">
				<iframe width="550"height="400"frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDlNcDwu5m9eCexhH6ACBZ4moB8GXPy7Y
            &q=`${venue[0].address}`"
            allowfullscreen>
            </iframe>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="venue">
        				<div class="venue-info">
		        			<h2>{{venue[0].name}}</h2>
		        			<div class="counter"><i class="fa fa-flag" aria-hidden="true"></i><span class="mx-3">{{venue[0].englishName}}</span></div>
                            <div class="counter"><i class="fa fa-phone-square" aria-hidden="true"></i><span class="mx-3">{{venue[0].contactPhone}}</span></div>
                            <div class="counter"><i class="fa fa-address-book-o" aria-hidden="true"></i><span class="mx-3">{{venue[0].address}}</span></div>
                            <div class="counter"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><span class="mx-3">{{venue[0].website}}</span></div>
		        		</div>
                            <p><i class="fa fa-info-circle" aria-hidden="true"></i><span class="mx-3">{{venue[0].description}}</p></span>
	        		</div>
	        	</div>
                    <div class="col-sm-12">
                    <button type="button" class="btn btn-dark pull-right" onclick="history.back()">回上頁</button>
                    <span class="mb-3"></span>
	        </div>
</div>



 <script>
let app = new Vue({
    el: "#location",
    data: {
        venue: [],
    },
    mounted: function() {
        let self = this;
        fetch("/api/Venue")
            .then(function(response) { return response.json() })
            .then(function(result) { self.venue = result; })
    }
});



</script>
