<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">類別新增</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Category</li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row" id="app">
                @*這裡開始*@
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">新增</h3>
                        </div>
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp2" class="col-sm-2 col-form-label">帳號</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp2" v-model="account" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">密碼</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp2" class="col-sm-2 col-form-label">信箱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp2" v-model="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">電話</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp1" class="col-sm-2 col-form-label">地址</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inp1" v-model="address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp2" class="col-sm-2 col-form-label">是否啟用</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="form-control" id="inp2" v-model="isActive">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inp3" class="col-sm-2 col-form-label">圖片</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="inp3" @@change="uploadFile">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-info float-right" @@click="create">新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let app = new Vue({
        el: '#app',
        data: {
            isActive: false,
            name: "",
            images: null,
            account: "",
            password: "",
            address: "",
            email: "",
            phone: ""
        },
        methods: {
            uploadFile(e) {
                this.images = e.target.files[0]
            },
            create: function() {
                let self = this;
                const formData = new FormData();
                formData.append('image', self.images);
                formData.append('isActive', self.isActive);
                formData.append('account', self.account);
                formData.append('password', self.password);
                formData.append('address', self.address);
                formData.append('email', self.email);
                formData.append('phone', self.phone);
                fetch('/api/UserManagement/Create', {
                    body: formData,
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(result => {
                        if (result) {
                            Swal.fire({ icon: 'success', title: '成功', text: '新增成功!' });
                        } else {
                            Swal.fire({ icon: 'error', title: '錯誤', text: '新增失敗!' });
                        }
                        self.name = "",
                            self.isActive = false
                    });
            }
        }
    });
</script>
